<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%- title %></title>
    <!-- Prevent the demo from appearing in search engines -->

  </head>

  <body class="layout-sticky-subnav layout-default">
    <div class="preloader">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">
      <!-- Header Layout Content -->
      <div class="mdk-header-layout__content page-content justify-content-center">
        <div class="pt-32pt pt-sm-64pt pb-32pt">
          <div class="container page__container">
            <%- body %>
            </div>
          </div>
        </div>
      </div>
      <!-- // END Header Layout Content -->
    </div>

  </body>
</html>
