<ul class="nav nav-tabs mb-6" role="tablist">
	<li class="nav-item">
		<a href="#account-dashboard" class="nav-links active">Dashboard</a>
	</li>
	<li class="nav-item">
		<a href="/account/shops" class="nav-links">Shops</a>
	</li>

	<li class="nav-item">
		<a href="/account/products" class="nav-links">Products</a>
	</li>
	<li class="nav-item">
		<a href="#account-orders" class="nav-links">Orders</a>
	</li>
	<li class="nav-item">
		<a href="#account-downloads" class="nav-links">Downloads</a>
	</li>

	<li class="nav-item">
		<a href="#account-details" class="nav-links">Account details</a>
	</li>

	<li class="nav-item">
		<a href="#account-details" class="nav-links">Logout</a>
	</li>
</ul>
