<title> Bazaar Admin</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="Bazaar">
<meta name="keywords" content="Bazaar">
<meta name="author" content="Phoenixcoded">
<!-- Favicon icon -->
<link rel="icon" href="/admin/images/favicon.ico" type="image/x-icon">
<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" href="/admin/vendor/bootstrap/css/bootstrap.min.css">
<!-- themify-icons line icon -->
<link rel="stylesheet" type="text/css" href="/admin/icon/themify-icons/themify-icons.css">
<!-- ico font -->
<link rel="stylesheet" type="text/css" href="/admin/icon/icofont/css/icofont.css">
<!-- flag icon framework css -->
<link rel="stylesheet" type="text/css" href="/admin/pages/flag-icon/flag-icon.min.css">
<!-- Menu-Search css -->
<link rel="stylesheet" type="text/css" href="/admin/pages/menu-search/css/component.css">
<!-- C3 chart -->
<link rel="stylesheet" href="/admin/vendor/c3/css/c3.css" type="text/css" media="all">
<!-- Data Table Css -->
<link rel="stylesheet" type="text/css" href="/admin/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/admin/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/admin/vendor/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="/admin/pages/data-table/extensions/responsive/css/responsive.dataTables.css">
<!-- Style.css -->
<link rel="stylesheet" href="/assets/css/vendor/select2.min.css">
<link rel="stylesheet" type="text/css" href="/admin/css/style.css">
<!-- -->
<link rel="stylesheet" type="text/css" href="/admin/css/linearicons.css">
<link rel="stylesheet" type="text/css" href="/admin/css/simple-line-icons.css">
<link rel="stylesheet" type="text/css" href="/admin/css/ionicons.css">
<link rel="stylesheet" type="text/css" href="/admin/css/jquery.mCustomScrollbar.css">

<link rel="stylesheet" type="text/css" href="/css/custom/custom.css">
<link rel="stylesheet" href="/assets/css/iziToast.min.css">
<link rel="stylesheet" href="/assets/css/select2.min.css">
