<% 
     const config = {
          title: 'MVC Boilerplate',
          decription: 'Description here ...',
          abstract: 'Dbstract description here ...',
          keywords: 'MVC,  Boilerplate, MVC Boilerplate, node, sequelize, mysql, express, passport, ejs',
          siteUrl: 'https://github.com/CofferHub/nodejs-mvc-boilerplate',
          imageUrl: '#',
     }
%>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>Wolmart - Marketplace HTML5 Template</title>

<meta name="keywords" content="Marketplace ecommerce responsive HTML5 Template" />
<meta name="description" content="Wolmart is powerful marketplace &amp; ecommerce responsive Html5 Template.">
<meta name="author" content="D-THEMES">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">

<!-- WebFont.js -->
<script>
	WebFontConfig = {
		google: {
			families: ['Poppins:400,500,600,700,800']
		}
	};
	(function (d) {
		var wf = d.createElement('script'),
			s = d.scripts[0];
		wf.src = '/assets/js/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);

</script>

<link rel="preload" href="/assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
	crossorigin="anonymous">
<link rel="preload" href="/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
	crossorigin="anonymous">
<link rel="preload" href="/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
	crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/wolmart.woff?png09e" as="font" type="font/woff" crossorigin="anonymous">

<!-- Vendor CSS -->
<link rel="stylesheet" type="text/css" href="/assets/vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	integrity="sha512-Mp7inKf7DS1/4m/9fAD4om4OkQQS7qoEqurWq+8Mp5Wo6W1oTDlzk8kB+gib/8R8FSVGP3o8CwYntYoRyY7xig=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Plugins CSS -->
<!-- <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css"> -->
<link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/magnific-popup/magnific-popup.min.css">
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">

<!-- Default CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/demo1.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
