<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Merchant</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<body>
	<div class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-header">
						<div id="ejsDataMerchant" data-name="<%=JSON.stringify(merchant)%>"></div>

						<div class="page-header-title">
							<h4>Edit Merchant</h4>
						</div>
					</div>
					<div class="page-body">
						<form class="" onsubmit="saveMerchant(event)" id="formMerchant">

							<div class="card">
								<div class="card-block">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label">First Name</label>
											<input type="text" name="firstName" id="firstName" required class="form-control"
												placeholder="First Name">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label">Last Name</label>
											<input type="text" name="lastName" id="lastName" required class="form-control"
												placeholder="Last Name">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label">Date of Birth</label>
											<input type="date" name="dateOfBirth" id="dateOfBirth" required class="form-control">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label">Email</label>
											<input type="email" name="email" id="email" required class="form-control" placeholder="Email">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label">Password</label>
											<input type="password" name="password" class="form-control" placeholder="Password">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label">Phone Number</label>
											<input type="text" name="phoneNumber" id="phoneNumber" required class="form-control"
												placeholder="Phone Number">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label">ID Card Number</label>
											<input type="text" name="idCardNumber" id="idCardNumber" required class="form-control"
												placeholder="ID Card Number">
										</div>
									</div>

									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-label"><span class="chg_ps">Merchant</span> photo</label>
											<label for="fileInputsImage" id="dropArea" class="drop-area">
												<p>Click to Upload</p>
												<input type="file" id="fileInputsImage" name="fileInputsImage" style="display: none;"
													multiple />

												<div id="uploadContainer" class="uploadContainer">

												</div>

											</label>
										</div>
									</div>
									<div class="container">
										<button type="submit" class="btn btn-primary col-md-3 mb-4 mt-1">
											Save
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/admin/vendor/jquery/js/jquery.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#fileInputsImage').change(function (event) {

				//const file = this.files[0];
				event.preventDefault();
				const files = this.files;
				const imagesContainer = $('#uploadContainer');

				imagesContainer.html('')

				const file = files[0];
				const reader = new FileReader();
				reader.onload = function () {
					const imageSrc = reader.result;
					const newImage = $('<div class="uploadedImage"></div>');
					const imageElement = $('<img>');
					const removeButton = $('<button class="removeImage">Remove</button>');

					imageElement.attr('src', imageSrc);
					imageElement.css('width', '100px')
					newImage.append(imageElement);
					newImage.append(removeButton);


					imagesContainer.append(newImage);

					removeButton.click(function (event) {
						event.preventDefault();
						newImage.remove();
					});
				}
				reader.readAsDataURL(file);

			});


			const merchant = $('#ejsDataMerchant').data('name');
			console.log("merchant>>", merchant)
			$("#firstName").val(merchant.firstName)
			$("#lastName").val(merchant.firstName)
			$("#dateOfBirth").val(merchant.dateOfBirth)

			$("#email").val(merchant.email)

			$("#phoneNumber").val(merchant.phoneNumber)

			$("#idCardNumber").val(merchant.idCardNumber)

			const imagesContainerImaged = $('#uploadContainer');

			if (merchant.imageUrl) {
				const imageSrcIcon = '/uploads/' + merchant.imageUrl
				const newImageImage = $('<div class="uploadedImage"></div>');
				const imageElementImage = $('<img>');
				const removeButtonImage = $('<button class="removeImage">Remove</button>');
				imageElementImage.attr('src', imageSrcIcon);
				imageElementImage.css('width', '100px')
				newImageImage.append(imageElementImage);
				newImageImage.append(removeButtonImage);
				imagesContainerImaged.append(newImageImage);
				removeButtonImage.click(function (event) {
					event.preventDefault();
					fetch(`/api/merchant/deleteimage/${merchant.uuid}`, {
							method: 'DELETE',
						})
						.then(response => response.json())
						.then(data => {
							console.log("data deleting image>>", data)
						})
						.catch((error) => {
							console.log("error", error)
							alert("error whilst deleting image")
						});
					newImageImage.remove();
				});
			}


		})

		function saveMerchant(e) {
			e.preventDefault();

			var form = document.getElementById("formMerchant");
			const formData = new FormData(form);
			const merchant = $('#ejsDataMerchant').data('name');

			fetch(`/api/merchant/${merchant.uuid}`, {
					method: 'PUT',
					body: formData,
				})
				.then(response => response.json())
				.then(data => {
					console.log("data", data);
					console.log('Success:', data);
					if (data.status == "success") {
						$("#formMerchant")[0].reset();
						$("#input-container").html('')
						$('#uploadContainer').html('')
						iziToast.success({
							title: 'Success',
							message: data.message,
							position: 'bottomRight'
						});
						setTimeout(function () {
							window.location.href = `/admin/merchants`;
						}, 800)
					} else {
						iziToast.error({
							title: 'Error',
							message: data.message,
							position: 'bottomRight'
						});
					}
				})
				.catch((error) => {
					console.error('Error:', error);
					iziToast.error({
						title: 'Error',
						message: error,
						position: 'bottomRight'
					});
				});
		}

	</script>
</body>

</html>
